body{
    background: #f4f4f4;
}

#principal{
    width: 920px;
    border: 1px solid red;
}

.noticia{
    background: #e5e5e5;
    padding: 5px;
    margin: 5px;
    width: 280px;
    float: left;
}

.clear{
    clear: both;
}

.imagem-galeria{
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15px;
}