body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container{
    width: 960px;
    margin: 0 auto;
    background: #fff url(../imagens/coluna.png) repeat-y left top;
    min-width: 720px;
    max-width: 1280px;
}

#marca{
    height: 200px;
    background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

#conteudo{
    width: 75%;
    float: right;
}

#conteudo-principal{
    width: 63%;
    float: left;
}

#conteudo-secundario{
    width: 34%;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h3,
#conteudo-secundario p{
    padding: 0px 20px;
}

#navegacao{
    width: 23%;
    float: left;
    padding: 20px 0px;
}

#navegacao ul{
    list-style: none;
}

#navegacao li a{
    text-decoration: none;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

img.img-noticia{
    width: 90%;
    padding: 2%;
    max-width: 600px;
}